.posts-section > div {
    border: none #dadde0; 
    box-shadow: 2px 2px 2px 2px #e9ecef; 
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}

.posts-section {
    border: solid 0.5px #dadde0; 
    box-shadow: 5px 6px 6px 2px #e9ecef; 
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}

#post-form {
    border: none;
}

.title {
    margin: 12px;
}

